body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header, footer {
  background: #482e2e;
  color: #cacaca;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  color: #db5938;
}