header {
  width: 100%;
  background-color: #627b94;
  color: #000000;
  padding: 1rem 0;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#course-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 5px;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: #627b94;
  color: #000000;
}

nav a:hover {
  background-color: #d1dbe5;
  color: #a81212;
  text-decoration: underline;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: #6b6969;
  border-radius: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}