body {
    Font-Family: 'Roboto' , sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dddfdd;
  color: #000000;
}

header {
  background-color: #627b94;
  color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #d85252;
  border-radius: 5px;
}

footer {
  background-color: #627b94;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}