@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }

  #hamburger {
    display: none;
  }
}