@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }

  nav {
    display: flex;
    justify-content: space-around;
  }

  #hamburger {
    display: none;
  }
}

header {
  width: 100%;
  background-color: #868386;
  color: #000000;
  padding: 1rem 0;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


footer {
  position: sticky;
  bottom: 0;
  background-color: #868386;
  color: #000000;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 5px;
}


#menu {
  display: none;
  flex-direction: column;
}

#menu.open {
  display: flex;
}

#hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}